pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-httpx
httpx

# Note since 3.8 includes Mock 4.0+.
mock>=4.0
requests # used by starlette.TestClient for testing
pyjwt
cryptography

# the following are used in functional integration tests
pytest-dependency
munch
jsonschema

