# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/

# Distribution / packaging
.Python
develop-eggs/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
python-packages


# Unit test / coverage reports
.pytest_cache/
htmlcov
.coverage*
coverage.xml
unit_tests_report.xml

# Ignore files cached by Hypothesis...
.hypothesis/*
**/.hypothesis
# except for the examples directory
!.hypothesis/examples/

# Environments
.env
.venv*
env/
venv/
venv*/
ENV/
env.bak/
venv.bak/
.envs/
secrets/

**/.DS_Store

.vscode
