fastapi>=0.92.0
pydantic>=1.9
aiohttp==3.8.0
cryptography>=41.0.2
pyarrow>=14.0.1
pandas==1.4.1
uvicorn
Click
backoff
structlog
python-rapidjson
python-multipart
jsonpath-ng # TODO: remove when bulk_path no longer supported
natsort
prometheus-fastapi-instrumentator

opencensus
opencensus-ext-stackdriver
opencensus-ext-azure
opencensus-ext-ocagent
opencensus-ext-logging

# for chunking feature
dask[distributed]==2022.4.1
fsspec>=2022.10.0
adlfs==2022.10.0
s3fs==2022.10.0
gcsfs==2022.10.0
aiobotocore[boto3]~=2.4.0
python-ulid

--extra-index-url \
https://community.opengroup.org/api/v4/projects/465/packages/pypi/simple/

--extra-index-url https://community.opengroup.org/api/v4/projects/148/packages/pypi/simple

osdu-log-recognition-lib~=1.0.0

osdu-data-ecosystem-storage~=2.0.0
osdu-data-ecosystem-search~=1.0.0

osdu-core-lib-python-ibm==3.0.1
osdu-core-lib-python-gcp~=2.0.0
osdu-core-lib-python-azure==3.0.3
osdu-core-lib-python-aws==2.1.2
osdu-core-lib-python-baremetal~=1.0.4
osdu-core-lib-python~=2.0.0
osdu-data-ecosystem-schema==1.0.0
wellbore-schema-manipulation==1.0.1
