fastapi>=0.115.2
pydantic>=1.9
aiohttp>=3.8.0
cryptography>=42.0.4
pyarrow>=14.0.1
pandas==1.5.3
uvicorn
Click
backoff
structlog
python-rapidjson
python-multipart>=0.0.18
jsonpath-ng # TODO: remove when bulk_path no longer supported
natsort
prometheus-fastapi-instrumentator
tornado>=6.4.2
urllib3>=1.26.17

opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions

azure-monitor-opentelemetry-exporter #--pre
opentelemetry-exporter-gcp-trace

# for chunking feature
dask[distributed]==2024.4.1 # Jump to 2024.4.1 to solve Python 3.11.9 incompatibility
fsspec>=2022.10.0
adlfs==2022.10.0
s3fs==2022.10.0
gcsfs==2022.10.0
aiobotocore[boto3]~=2.4.0
python-ulid

--extra-index-url \
https://community.opengroup.org/api/v4/projects/465/packages/pypi/simple/

--extra-index-url https://community.opengroup.org/api/v4/projects/148/packages/pypi/simple
--extra-index-url https://community.opengroup.org/api/v4/projects/224/packages/pypi/simple

osdu-log-recognition-lib~=1.0.0

osdu-data-ecosystem-storage~=2.0.0
osdu-data-ecosystem-search~=1.0.0

osdu-core-lib-python-ibm==3.0.1
osdu-core-lib-python-gcp==2.1.3
osdu-core-lib-python-azure==3.1.0
osdu-core-lib-python-aws==2.1.2
osdu-core-lib-python-baremetal~=2.1.0
osdu-core-lib-python~=2.0.0
osdu-data-ecosystem-schema==1.0.0
wellbore-schema-manipulation==1.0.1
