pip-tools>=6.4.0

-c requirements.txt

pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-httpx
httpx
numpy
pandas
pyarrow
openapi-spec-validator

mockito~=1.2
# Note since 3.8 includes Mock 4.0+.
mock>=4.0 # Should be removed after migration to python >= 3.8
requests # used by starlette.TestClient for testing
cryptography

# the following are used in functional integration tests
pytest-dependency
munch
jsonschema

# Generates fake token for local integration tests runs
pyjwt[crypto]

deepdiff
