fastapi>=0.59.0
cachetools==3.1.1
aiohttp==3.6.2
pyjwt>=1.7.1
cryptography>=2.7
pyarrow>=0.15.0
pandas==1.0.3 # fix 1.0.3 because bug https://github.com/pandas-dev/pandas/issues/34467
uvicorn
Click
structlog
python-rapidjson
python-multipart
jsonpath-ng # jsonpath-rw maintenance is it bit abandoned

opencensus
opencensus-ext-stackdriver
opencensus-ext-ocagent

log-recognition-lib>=0.0.3
osdu-data-ecosystem-storage>=0.3.1, <0.4
osdu-data-ecosystem-entitlements>=0.3.1, <0.4
osdu-data-ecosystem-search>=0.3.1, <0.4
osdu-core-lib-python-gcp>=0.2.0, <0.3
osdu-core-lib-python>=0.3.0, <0.4