pip-tools~=7.3.0

-c requirements.txt

pytest
asgi_lifespan
pytest-cov
pytest-httpx
pytest-xdist
pytest-randomly
httpx
numpy
pandas
pyarrow
hypothesis
openapi-spec-validator

requests # used by starlette.TestClient for testing
cryptography>=41.0.2

# the following are used in functional integration tests
pytest-dependency
munch
jsonschema

# Generates fake token for local integration tests runs
pyjwt[crypto]

deepdiff
