fastapi==0.65.1
aiohttp==3.7.4.post0
cryptography>=2.7
pyarrow>=4.0.1, <5.0
pandas==1.2.4
uvicorn
Click
backoff
structlog
python-rapidjson
python-multipart
jsonpath-ng # TODO: remove when bulk_path no longer supported
jsonbender==0.9.3
natsort

opencensus
opencensus-ext-stackdriver
opencensus-ext-azure
opencensus-ext-ocagent
opencensus-ext-logging

# for chunking feature
dask[distributed]==2021.7.2
fsspec
python-ulid

--extra-index-url \
https://community.opengroup.org/api/v4/projects/465/packages/pypi/simple/

osdu-log-recognition-lib>=0.0.9

osdu-data-ecosystem-storage~=1.2.0
osdu-data-ecosystem-search>=0.3.2, <0.4

osdu-core-lib-python-ibm~=1.1.0
osdu-core-lib-python-gcp~=1.1.0
osdu-core-lib-python-azure~=1.2.1
osdu-core-lib-python-aws>=0.0.2, <0.1
osdu-core-lib-python~=1.1.0
