pip-tools~=6.11.0 # pip-tools pin pip 22.0.4 because newer pip-compile raises error with newer pip

-c requirements.txt

pytest
asgi_lifespan
pytest-cov
pytest-httpx
pytest-xdist
pytest-randomly
httpx
numpy
pandas
pyarrow
hypothesis
openapi-spec-validator

requests # used by starlette.TestClient for testing
cryptography>=41.0.2

# the following are used in functional integration tests
pytest-dependency
munch
jsonschema

# Generates fake token for local integration tests runs
pyjwt[crypto]

deepdiff
