# Copyright 2021 Schlumberger
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

openapi: 3.0.2
info:
  title: Wellbore DDMS Geology OSDU
  version: '0.2'
servers:
    - url: https://api.evq.csp.slb.com/osdu/wdms/geology/v2
security:
    - bearer: [ ]
    - appkey: [ ]
paths:
  '/markers/{markerid}':
    get:
      tags:
        - Marker
      summary: 'Get the marker using wks:marker:1.0.4 schema'
      description: 'Get the Marker object using its **id**. <p>Required roles: ''users.datalake.viewers'' or ''users.datalake.editors'' or ''users.datalake.admins''. In addition, users must be a member of data groups to access the data.</p>'
      operationId: get_marker
      parameters:
        - required: true
          schema:
            title: Markerid
            type: string
          name: markerid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marker'
        '404':
          description: marker not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
    delete:
      tags:
        - Marker
      summary: Delete the marker. The API performs a logical deletion of the given record
      description: '<p>Required roles: ''users.datalake.editors'' or ''users.datalake.admins''.</p>'
      operationId: del_marker
      parameters:
        - required: true
          schema:
            title: Markerid
            type: string
          name: markerid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '204':
          description: Record deleted successfully
        '404':
          description: Marker not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/markers/{markerid}/versions':
    get:
      tags:
        - Marker
      summary: Get all versions of the marker
      description: '<p>Required roles: ''users.datalake.viewers'' or ''users.datalake.editors'' or ''users.datalake.admins''. In addition, users must be a member of data groups to access the data.</p>'
      operationId: get_marker_versions
      parameters:
        - required: true
          schema:
            title: Markerid
            type: string
          name: markerid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordVersions'
        '404':
          description: marker not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/markers/{markerid}/versions/{version}':
    get:
      tags:
        - Marker
      summary: 'Get the given version of marker using wks:marker:1.0.4 schema'
      description: '<p>Required roles: ''users.datalake.viewers'' or ''users.datalake.editors'' or ''users.datalake.admins''. In addition, users must be a member of data groups to access the data.</p>'
      operationId: get_marker_version
      parameters:
        - required: true
          schema:
            title: Markerid
            type: string
          name: markerid
          in: path
        - required: true
          schema:
            title: Version
            type: integer
          name: version
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/marker'
        '404':
          description: marker not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  /markers:
    post:
      tags:
        - Marker
      summary: 'Create or update the markers using wks:marker:1.0.4 schema'
      description: '<p>Required roles: ''users.datalake.editors'' or ''users.datalake.admins''.</p>'
      operationId: post_marker
      parameters:
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              title: Markers
              type: array
              items:
                $ref: '#/components/schemas/marker'
              example:
                - acl:
                    viewers:
                      - 'data.default.viewers@{{datapartitionid}}.{{domain}}.com'
                    owners:
                      - 'data.default.owners@{{datapartitionid}}.{{domain}}.com'
                  data:
                    depth:
                      unitKey: ft
                      value: 150
                    md:
                      unitKey: ft
                      value: 150
                    tvd:
                      unitKey: ft
                      value: 200
                    name: myMarker
                    relationships:
                      well:
                        confidence: 1
                        id: '{{datapartitionid}}:well:myWell'
                        name: myWell
                      wellbore:
                        confidence: 1
                        id: '{{datapartitionid}}:wellbore:myWellbore'
                        name: myWellbore
                  id: '{{datapartitionid}}:marker:myMarker'
                  kind: '{{datapartitionid}}:wks:marker:1.0.4'
                  legal:
                    legaltags:
                      - '{{legaltags}}'
                    otherRelevantDataCountries:
                      - FR
                      - US
                    status: compliant
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateRecordsResponse'
        '400':
          description: Missing mandatory parameter or unknown parameter
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  /dipsets:
    post:
      tags:
        - Dipset
      summary: 'Create or update the DipSets using wks:dipSet:1.0.0 schema'
      description: '<p>Required roles: ''users.datalake.editors'' or ''users.datalake.admins''.</p>'
      operationId: post_dipset
      parameters:
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              title: Dipsets
              type: array
              items:
                $ref: '#/components/schemas/dipset'
              example:
                - acl:
                    viewers:
                      - 'data.default.viewers@{{datapartitionid}}.{{domain}}.com'
                    owners:
                      - 'data.default.owners@{{datapartitionid}}.{{domain}}.com'
                  data:
                    classification: Externally Processed LogSet
                    name: myDipSet
                    relationships:
                      well:
                        confidence: 1
                        id: '{{datapartitionid}}:well:myWell'
                        name: myWell
                      wellbore:
                        confidence: 1
                        id: '{{datapartitionid}}:wellbore:myWellbore'
                        name: myWellbore
                  id: '{{datapartitionid}}:dipSet:myDipSet'
                  kind: '{{datapartitionid}}:wks:dipSet:0.0.1'
                  legal:
                    legaltags:
                      - '{{legaltags}}'
                    otherRelevantDataCountries:
                      - FR
                      - US
                    status: compliant
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateRecordsResponse'
        '400':
          description: Missing mandatory parameter or unknown parameter
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/dipsets/{dipsetid}/versions/{version}':
    get:
      tags:
        - Dipset
      summary: 'Get the given version of DipSet using wks:dipset:1.0.0 schema'
      description: '"Get the DipSet object using its **id**. <p>Required roles: ''users.datalake.viewers'' or ''users.datalake.editors'' or ''users.datalake.admins''. In addition, users must be a member of data groups to access the data.</p>'
      operationId: get_dipset_version
      parameters:
        - required: true
          schema:
            title: Dipsetid
            type: string
          name: dipsetid
          in: path
        - required: true
          schema:
            title: Version
            type: integer
          name: version
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dipset'
        '404':
          description: DipSet not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/dipsets/{dipsetid}/versions':
    get:
      tags:
        - Dipset
      summary: Get all versions of the dipset
      description: '<p>Required roles: ''users.datalake.viewers'' or ''users.datalake.editors'' or ''users.datalake.admins''. In addition, users must be a member of data groups to access the data.</p>'
      operationId: get_dipset_versions
      parameters:
        - required: true
          schema:
            title: Dipsetid
            type: string
          name: dipsetid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordVersions'
        '404':
          description: DipSet not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/dipsets/{dipsetid}':
    get:
      tags:
        - Dipset
      summary: 'Get the DipSet using wks:dipSet:1.0.0 schema'
      description: 'Get the DipSet object using its **id**. <p>Required roles: ''users.datalake.viewers'' or ''users.datalake.editors'' or ''users.datalake.admins''. In addition, users must be a member of data groups to access the data.</p>'
      operationId: get_dipset
      parameters:
        - required: true
          schema:
            title: Dipsetid
            type: string
          name: dipsetid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dipset'
        '404':
          description: DipSet not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
    delete:
      tags:
        - Dipset
      summary: Delete the DipSet. The API performs a logical deletion of the given record
      description: '<p>Required roles: ''users.datalake.editors'' or ''users.datalake.admins''.</p>'
      operationId: del_dipset
      parameters:
        - required: true
          schema:
            title: Dipsetid
            type: string
          name: dipsetid
          in: path
        - description: Whether or not to delete records children
          required: false
          schema:
            title: Recursive
            type: boolean
            description: Whether or not to delete records children
            default: false
          name: recursive
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '204':
          description: Record deleted successfully
        '404':
          description: DipSet not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/dipsets/{dipsetid}/dips':
    get:
      tags:
        - Dips
      summary: Get dips
      description: |-
        Return dips from dipset from the given index until the given number of dips specifed in query parameters. 
            If not specified returns all dips from dipset. <p>Required roles: 'users.datalake.viewers' or 'users.datalake.editors' or 'users.datalake.admins'. In addition, users must be a member of data groups to access the data.</p>
      operationId: get_dips
      parameters:
        - required: true
          schema:
            title: Dipsetid
            type: string
          name: dipsetid
          in: path
        - required: false
          schema:
            title: Index
            minimum: 0
            type: integer
          name: index
          in: query
        - required: false
          schema:
            title: Limit
            minimum: 0
            type: integer
          name: limit
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Dips Ddms V2 Dipsets  Dipsetid  Dips Get
                type: array
                items:
                  $ref: '#/components/schemas/Dip'
        '404':
          description: DipSet not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
    post:
      tags:
        - Dips
      summary: Define the dips of the dipset
      description: 'Replace previous dips by provided dips. Sort dips by reference and azimuth. <p>Required roles: ''users.datalake.editors'' or ''users.datalake.admins''.</p>'
      operationId: post_dips
      parameters:
        - description: The ID of the dipset
          required: true
          schema:
            title: Dipsetid
            type: string
            description: The ID of the dipset
          name: dipsetid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              title: Dips
              type: array
              items:
                $ref: '#/components/schemas/Dip'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Post Dips Ddms V2 Dipsets  Dipsetid  Dips Post
                type: array
                items:
                  $ref: '#/components/schemas/Dip'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/dipsets/{dipsetid}/dips/insert':
    post:
      tags:
        - Dips
      summary: insert dip in  a dipset
      description: |-
        Insert dips in dipset. 
            Existing dips are not replaced. 
            Several dip can have same reference. 
            Operation will sort by reference all dips in dipset (may modify dip indexes). <p>Required roles: 'users.datalake.editors' or 'users.datalake.admins'.</p>
      operationId: insert_dips
      parameters:
        - required: true
          schema:
            title: Dipsetid
            type: string
          name: dipsetid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              title: Dips
              type: array
              items:
                $ref: '#/components/schemas/Dip'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Insert Dips Ddms V2 Dipsets  Dipsetid  Dips Insert Post
                type: array
                items:
                  $ref: '#/components/schemas/Dip'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/dipsets/{dipsetid}/dips/query':
    get:
      tags:
        - Dips
      summary: Query dip from dipset
      description: 'Search dip within reference interval and specific classification. <p>Required roles: ''users.datalake.viewers'' or ''users.datalake.editors'' or ''users.datalake.admins''. In addition, users must be a member of data groups to access the data.</p>'
      operationId: query_dip
      parameters:
        - required: true
          schema:
            title: Dipsetid
            type: string
          name: dipsetid
          in: path
        - description: Min reference for the dips to search in the dipset
          required: false
          schema:
            title: Minreference
            type: number
            description: Min reference for the dips to search in the dipset
          name: minReference
          in: query
        - required: false
          schema:
            title: Max reference for the dips to search in the dipset
            type: number
          name: maxReference
          in: query
        - required: false
          schema:
            title: Classification for the dip to search in the dipset
            type: string
          name: classification
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Query Dip Ddms V2 Dipsets  Dipsetid  Dips Query Get
                type: array
                items:
                  $ref: '#/components/schemas/Dip'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/dipsets/{dipsetid}/dips/{index}':
    get:
      tags:
        - Dips
      summary: Get a dip at index
      description: '"Return dip from dipset at the given index. <p>Required roles: ''users.datalake.viewers'' or ''users.datalake.editors'' or ''users.datalake.admins''. In addition, users must be a member of data groups to access the data.</p>'
      operationId: get_dip_by_index
      parameters:
        - required: true
          schema:
            title: Dipsetid
            type: string
          name: dipsetid
          in: path
        - required: true
          schema:
            title: Index
            type: integer
          name: index
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dip'
        '404':
          description: DipSet or index not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
    delete:
      tags:
        - Dips
      summary: Delete a dip
      description: 'Removes the dip at index. <p>Required roles: ''users.datalake.editors'' or ''users.datalake.admins''.</p>'
      operationId: delete_dip_by_index
      parameters:
        - required: true
          schema:
            title: Dipsetid
            type: string
          name: dipsetid
          in: path
        - required: true
          schema:
            title: Index
            type: integer
          name: index
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Delete Dip By Index Ddms V2 Dipsets  Dipsetid  Dips  Index  Delete
                type: array
                items:
                  $ref: '#/components/schemas/Dip'
        '404':
          description: DipSet or index not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
    patch:
      tags:
        - Dips
      summary: Update dip
      description: |-
        "Update dip at index     
            Operation will sort by reference all dips in dipset (may modify dip indexes).
      operationId: patch_dip
      parameters:
        - required: true
          schema:
            title: Dipsetid
            type: string
          name: dipsetid
          in: path
        - required: true
          schema:
            title: Index
            type: integer
          name: index
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dip'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Patch Dip Ddms V2 Dipsets  Dipsetid  Dips  Index  Patch
                type: array
                items:
                  $ref: '#/components/schemas/Dip'
        '404':
          description: DipSet not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
components:
  schemas:
    CreateUpdateRecordsResponse:
      title: CreateUpdateRecordsResponse
      type: object
      properties:
        recordCount:
          title: Recordcount
          type: integer
        recordIds:
          title: Recordids
          type: array
          items:
            type: string
        skippedRecordIds:
          title: Skippedrecordids
          type: array
          items:
            type: string
    DataType:
      title: DataType
      enum:
        - string
        - number
        - integer
        - boolean
      description: An enumeration.
    Dip:
      title: Dip
      required:
        - reference
        - azimuth
        - inclination
      type: object
      properties:
        reference:
          title: Reference of the dip
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: Only Measured Depth in meter is supported for the moment
        azimuth:
          title: Azimuth value of the dip
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: Only degrees unit is supported for the moment
        inclination:
          title: Inclination value of the dip
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: Only degrees unit is supported for the moment
        quality:
          title: Quality of the dip
          exclusiveMaximum: true
          maximum: 1
          exclusiveMinimum: false
          minimum: 0
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: Decimal number between 0 and 1
        xCoordinate:
          title: The X coordinate of the dip
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: Only meter unit is supported for the moment
        yCoordinate:
          title: The Y coordinate of the dip
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: Only meter unit is supported for the moment
        zCoordinate:
          title: The Z coordinate of the dip
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: Only meter unit is supported for the moment
        classification:
          title: Classification of the dip
          type: string
          description: Any string is accepted.
      example:
        reference:
          unitKey: meter
          value: 1000.5
        azimuth:
          unitKey: dega
          value: 42
        inclination:
          unitKey: dega
          value: 9
        quality:
          unitKey: unitless
          value: 0.5
        xCoordinate:
          unitKey: meter
          value: 2
        yCoordinate:
          unitKey: meter
          value: 45
        zCoordinate:
          unitKey: meter
          value: 7
        classification: fracture
    Format:
      title: Format
      enum:
        - date
        - date-time
        - time
        - byte
        - binary
        - boolean
        - email
        - uuid
        - uri
        - int8
        - int16
        - int32
        - int64
        - float32
        - float64
        - float128
      description: An enumeration.
    GeoJsonFeature:
      title: GeoJsonFeature
      required:
        - geometry
        - properties
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        geometry:
          title: Geometry
          anyOf:
            - $ref: '#/components/schemas/GeoJsonPoint'
            - $ref: '#/components/schemas/GeoJsonMultiPoint'
            - $ref: '#/components/schemas/GeoJsonLineString'
            - $ref: '#/components/schemas/GeoJsonMultiLineString'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/GeoJsonMultiPolygon'
            - $ref: '#/components/schemas/geometryItem'
        properties:
          title: Properties
          type: object
        type:
          $ref: '#/components/schemas/Type_1'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GeoJsonFeatureCollection:
      title: GeoJsonFeatureCollection
      required:
        - features
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        features:
          title: Features
          type: array
          items:
            $ref: '#/components/schemas/GeoJsonFeature'
        type:
          $ref: '#/components/schemas/Type_2'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GeoJsonLineString:
      title: GeoJsonLineString
      required:
        - coordinates
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        coordinates:
          title: Coordinates
          type: array
          items:
            type: array
            items:
              type: number
        type:
          $ref: '#/components/schemas/Type_3'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GeoJsonMultiLineString:
      title: GeoJsonMultiLineString
      required:
        - coordinates
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        coordinates:
          title: Coordinates
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: number
        type:
          $ref: '#/components/schemas/Type_4'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GeoJsonMultiPoint:
      title: GeoJsonMultiPoint
      required:
        - coordinates
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        coordinates:
          title: Coordinates
          type: array
          items:
            type: array
            items:
              type: number
        type:
          $ref: '#/components/schemas/Type_5'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GeoJsonMultiPolygon:
      title: GeoJsonMultiPolygon
      required:
        - coordinates
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
          description: 'Bounding box in longitude, latitude WGS 84.'
        coordinates:
          title: Coordinates
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: array
                items:
                  type: number
          description: 'Array of polygons (minimum 2D), containing an array of point coordinates (longitude, latitude, (optionally elevation and other properties).'
        type:
          $ref: '#/components/schemas/Type_6'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GeoJsonPoint:
      title: GeoJsonPoint
      required:
        - coordinates
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        coordinates:
          title: Coordinates
          type: array
          items:
            type: number
        type:
          $ref: '#/components/schemas/Type_7'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        errors:
          title: Errors
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    Kind:
      title: Kind
      enum:
        - CRS
        - Unit
        - Measurement
        - AzimuthReference
        - DateTime
      type: string
      description: An enumeration.
    Legal:
      title: Legal
      type: object
      properties:
        legaltags:
          title: Legal Tags
          type: array
          items:
            type: string
          description: 'The list of legal tags, see compliance API.'
        otherRelevantDataCountries:
          title: Other Relevant Data Countries
          type: array
          items:
            type: string
          description: 'The list of other relevant data countries using the ISO 2-letter codes, see compliance API.'
        status:
          title: Legal Status
          type: string
          description: The legal status.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    LinkList:
      title: LinkList
      type: object
      properties: {}
      description: Used for data model allows extra fields which are not declared initially in the pydantic model
    MetaItem:
      title: MetaItem
      required:
        - kind
        - persistableReference
      type: object
      properties:
        kind:
          title: Reference Kind
          allOf:
            - $ref: '#/components/schemas/Kind'
          description: 'The kind of reference, unit, measurement, CRS or azimuth reference.'
        name:
          title: Name or Symbol
          type: string
          description: The name of the CRS or the symbol/name of the unit
        persistableReference:
          title: Persistable Reference
          type: string
          description: The persistable reference string uniquely identifying the CRS or Unit
        propertyNames:
          title: Attribute Names
          type: array
          items:
            type: string
          description: 'The list of property names, to which this meta data item provides Unit/CRS context to. Data structures, which come in a single frame of reference, can register the property name, others require a full path like "data.structureA.propertyB" to define a unique context.'
        propertyValues:
          title: Attribute Names
          type: array
          items:
            type: string
          description: 'The list of property values, to which this meta data item provides Unit/CRS context to. Typically a unit symbol is a value to a data structure; this symbol is then registered in this propertyValues array and the persistableReference provides the absolute reference.'
        uncertainty:
          title: Uncertainty
          type: number
          description: The uncertainty of the values measured given the unit or CRS unit.
      description: Used for data model allows extra fields which are not declared initially in the pydantic model
    Polygon:
      title: Polygon
      required:
        - coordinates
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        coordinates:
          title: Coordinates
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: number
        type:
          $ref: '#/components/schemas/Type_8'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    RecordVersions:
      title: RecordVersions
      type: object
      properties:
        recordId:
          title: Recordid
          type: string
        versions:
          title: Versions
          type: array
          items:
            type: integer
    SimpleElevationReference:
      title: SimpleElevationReference
      required:
        - elevationFromMsl
      type: object
      properties:
        elevationFromMsl:
          title: Elevation from MSL
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: 'The elevation above mean sea level (MSL), at which the vertical origin is 0.0. The ''unitKey'' is further defined in ''frameOfReference.units''.'
        name:
          title: Elevation Reference Name
          type: string
          description: The name of the Elevation Reference.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    TagDictionary:
      title: TagDictionary
      type: object
      properties: {}
      description: Used for data model allows extra fields which are not declared initially in the pydantic model
    Tags:
      title: Tags
      type: string
    ToOneRelationship:
      title: ToOneRelationship
      type: object
      properties:
        confidence:
          title: Relationship Confidence
          type: number
          description: The confidence of the relationship. If the property is absent a well-known relation is implied.
        id:
          title: Related Object Id
          type: string
          description: 'The id of the related object in the Data Ecosystem. If set, the id has priority over the natural key in the name property.'
        name:
          title: Related Object Name
          type: string
          description: The name or natural key of the related object. This property is required if the target object id could not (yet) be identified.
        version:
          title: Entity Version Number
          type: number
          description: 'The version number of the related entity. If no version number is specified, the last version is implied.'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    Type:
      title: Type
      enum:
        - GeometryCollection
      description: An enumeration.
    Type_1:
      title: Type_1
      enum:
        - Feature
      description: An enumeration.
    Type_2:
      title: Type_2
      enum:
        - FeatureCollection
      description: An enumeration.
    Type_3:
      title: Type_3
      enum:
        - LineString
      description: An enumeration.
    Type_4:
      title: Type_4
      enum:
        - MultiLineString
      description: An enumeration.
    Type_5:
      title: Type_5
      enum:
        - MultiPoint
      description: An enumeration.
    Type_6:
      title: Type_6
      enum:
        - MultiPolygon
      description: An enumeration.
    Type_7:
      title: Type_7
      enum:
        - Point
      description: An enumeration.
    Type_8:
      title: Type_8
      enum:
        - Polygon
      description: An enumeration.
    ValidationError:
      title: ValidationError
      required:
        - loc
        - msg
        - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            type: string
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    ValueWithUnit:
      title: ValueWithUnit
      required:
        - unitKey
        - value
      type: object
      properties:
        unitKey:
          title: Unit Key
          type: string
          description: Unit for value of the corresponding attribute for the domain object in question. The key can be looked up in the 'frameOfReference.units' for further details.
        value:
          title: Value
          type: number
          description: Value of the corresponding attribute for the domain object in question.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    channel:
      title: channel
      type: object
      properties:
        absentValue:
          title: Absent Value
          type: string
          description: Optional field carrying the absent value as string for this channel.
        dataType:
          title: Data Type
          allOf:
            - $ref: '#/components/schemas/DataType'
          description: The log value type (per log sample). The 'format' property may contain further hints about data type presentation.
          default: number
        dimension:
          title: Dimension
          type: integer
          description: The dimension of this log or channel
        family:
          title: Log Family
          type: string
          description: The log family code of this log or channel (optional)
        familyType:
          title: Log Family Type
          type: string
          description: 'The log family type code of this log or channel. Example: ''Neutron Porosity'' for ''Thermal Neutron Porosity Sandstone''. (optional)'
        format:
          title: Format Hint
          allOf:
            - $ref: '#/components/schemas/Format'
          description: Optional format hint how to treat the log values as strings or number of bits per 'dataType'.
          default: float32
        logstoreId:
          title: Logstore ID
          type: number
          description: The id of this log or channel in the Logstore. This property is not present in the index channel.
        bulkURI:
          title: bulk URI
          type: string
          description: bulkURI either URL or URN.
        longName:
          title: Log Long Name
          type: string
          description: The long name of this log or channel
        mnemonic:
          title: Mnemonic
          type: string
          description: The mnemonic of this log or channel
        name:
          title: Log Name
          type: string
          description: The name of this log or channel.
        properties:
          title: Named Properties
          type: array
          items:
            $ref: '#/components/schemas/namedProperty'
          description: The named properties of this log or channel.
        source:
          title: Source
          type: string
          description: 'The source of this log or channel as a data reference; Typically this refers to the raw LogSet, from which this log WKE is generated.'
        unitKey:
          title: Unit
          type: string
          description: The unitKey to be looked up in the 'frameOfReference.units' dictionary to find the self-contained definition.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    core_dl_geopoint:
      title: core_dl_geopoint
      required:
        - latitude
        - longitude
      type: object
      properties:
        latitude:
          title: Latitude
          maximum: 90
          minimum: -90
          type: number
          description: 'The latitude value in degrees of arc (dega). Value range [-90, 90].'
        longitude:
          title: Longitude
          maximum: 180
          minimum: -180
          type: number
          description: 'The longitude value in degrees of arc (dega). Value range [-180, 180]'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    dipSetData:
      title: dipSetData
      type: object
      properties:
        azimuthReference:
          title: Azimuth Reference Code
          type: string
          description: Azimuth reference code defining the type of North. Only used for dipSets with azimuth data
        classification:
          title: Log Set Classification
          type: string
          description: The well-known log set classification code.
          default: Externally Processed LogSet
        dateCreated:
          title: Creation Date and Time
          type: string
          description: The UTC date time of the entity creation
          format: date-time
        dateModified:
          title: Last Modification Date and Time
          type: string
          description: The UTC date time of the last entity modification
          format: date-time
        elevationReference:
          $ref: '#/components/schemas/SimpleElevationReference'
        externalIds:
          title: Array of External IDs
          type: array
          items:
            type: string
          description: 'An array of identities (e.g. some kind if URL to be resolved in an external data store), which links to external realizations of the same entity.'
        name:
          title: Dip Set Name
          type: string
          description: The name of this dip set
        operation:
          title: Operation
          type: string
          description: The operation which created this entity
        reference:
          $ref: '#/components/schemas/channel'
        referenceType:
          title: Reference Type
          type: string
          description: The reference index type of the dip set.
        relationships:
          $ref: '#/components/schemas/dipsetrelationships'
        start:
          $ref: '#/components/schemas/ValueWithUnit'
        step:
          $ref: '#/components/schemas/ValueWithUnit'
        stop:
          $ref: '#/components/schemas/ValueWithUnit'
        bulkURI:
          title: bulk URI
          type: string
          description: bulkURI either URL or URN.
      description: Used for data model allows extra fields which are not declared initially in the pydantic model
    dipset:
      title: dipset
      type: object
      properties:
        ancestry:
          title: Ancestry
          allOf:
            - $ref: '#/components/schemas/LinkList'
          description: 'The links to data, which constitute the inputs.'
        meta:
          title: Frame of Reference Meta Data
          type: array
          items:
            $ref: '#/components/schemas/MetaItem'
          description: 'The meta data section linking the ''unitKey'', ''crsKey'' to self-contained definitions (persistableReference)'
        type:
          title: Entity Type
          type: string
          description: 'The reference entity type as declared in common:metadata:entity:*.'
        tags:
          title: Tag Dictionary
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Tags'
          description: A generic dictionary of string keys mapping to string value. Only strings are permitted as keys and values.
          example:
            NameOfKey: String value
        createTime:
          title: Resource Object Creation DateTime
          type: string
          description: Timestamp of the time at which initial version of this OSDU resource object was created. Set by the System. The value is a combined date-time string in ISO-8601 given in UTC.
          format: date-time
          example: '2020-12-16T11:46:20.163Z'
        createUser:
          title: Resource Object Creation User Reference
          type: string
          description: 'The user reference, which created the first version of this resource object. Set by the System.'
          example: some-user@some-company-cloud.com
        modifyTime:
          title: Resource Object Version Creation DateTime
          type: string
          description: Timestamp of the time at which this version of the OSDU resource object was created. Set by the System. The value is a combined date-time string in ISO-8601 given in UTC.
          format: date-time
          example: '2020-12-16T11:52:24.477Z'
        modifyUser:
          title: Resource Object Version Creation User Reference
          type: string
          description: 'The user reference, which created this version of this resource object. Set by the System.'
          example: some-user@some-company-cloud.com
        acl:
          title: Access Control List
          allOf:
            - $ref: '#/components/schemas/TagDictionary'
          description: The access control tags associated with this entity.
        data:
          title: Dip Set Data
          allOf:
            - $ref: '#/components/schemas/dipSetData'
          description: dipset data
        id:
          title: Dip Set ID
          type: string
          description: The unique identifier of the dip set
        kind:
          title: Dip Set Kind
          type: string
          description: Kind specification
          default: 'osdu:wks:dipSet:0.0.1'
        legal:
          title: Legal Tags
          allOf:
            - $ref: '#/components/schemas/Legal'
          description: The dip-set's legal tags
        version:
          title: Entity Version Number
          type: number
          description: The version number of this dip set; set by the framework.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    dipsetrelationships:
      title: dipsetrelationships
      required:
        - wellbore
      type: object
      properties:
        well:
          title: Well
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The well to which this dipSet belongs. Only required if the wellbore is unknown.
        wellbore:
          title: Wellbore
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The wellbore to which this dipSet belongs.
        wellboreSection:
          title: Wellbore Section
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The wellbore section to which this dipSet belongs.
        referenceLog:
          title: True dip azimuth log
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The true dip azimuth log of the dipset.
        trueDipAzimuthLog:
          title: True dip azimuth log
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The true dip azimuth log of the dipset.
        trueDipInclinationLog:
          title: X-coordinate log
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The X-coordinate log of the dipset
        xCoordinateLog:
          title: X-coordinate log
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The X-coordinate log of the dipset
        yCoordinateLog:
          title: Y-coordinate log
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The Y-coordinate log of the dipset
        zCoordinateLog:
          title: Z-coordinate log
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The Z-coordinate log of the dipset
        qualityLog:
          title: Quality log
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The quality log of the dipset
        classificationLog:
          title: Classification log
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The classification log of the dipset
      description: Used for data model allows extra fields which are not declared initially in the pydantic model
    geometryItem:
      title: geometryItem
      required:
        - geometries
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        geometries:
          title: Geometries
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/GeoJsonPoint'
              - $ref: '#/components/schemas/GeoJsonMultiPoint'
              - $ref: '#/components/schemas/GeoJsonLineString'
              - $ref: '#/components/schemas/GeoJsonMultiLineString'
              - $ref: '#/components/schemas/Polygon'
              - $ref: '#/components/schemas/GeoJsonMultiPolygon'
        type:
          $ref: '#/components/schemas/Type'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    marker:
      title: marker
      required:
        - acl
        - kind
        - legal
      type: object
      properties:
        ancestry:
          title: Ancestry
          allOf:
            - $ref: '#/components/schemas/LinkList'
          description: 'The links to data, which constitute the inputs.'
        meta:
          title: Frame of Reference Meta Data
          type: array
          items:
            $ref: '#/components/schemas/MetaItem'
          description: 'The meta data section linking the ''unitKey'', ''crsKey'' to self-contained definitions (persistableReference)'
        type:
          title: Entity Type
          type: string
          description: 'The reference entity type as declared in common:metadata:entity:*.'
        tags:
          title: Tag Dictionary
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Tags'
          description: A generic dictionary of string keys mapping to string value. Only strings are permitted as keys and values.
          example:
            NameOfKey: String value
        createTime:
          title: Resource Object Creation DateTime
          type: string
          description: Timestamp of the time at which initial version of this OSDU resource object was created. Set by the System. The value is a combined date-time string in ISO-8601 given in UTC.
          format: date-time
          example: '2020-12-16T11:46:20.163Z'
        createUser:
          title: Resource Object Creation User Reference
          type: string
          description: 'The user reference, which created the first version of this resource object. Set by the System.'
          example: some-user@some-company-cloud.com
        modifyTime:
          title: Resource Object Version Creation DateTime
          type: string
          description: Timestamp of the time at which this version of the OSDU resource object was created. Set by the System. The value is a combined date-time string in ISO-8601 given in UTC.
          format: date-time
          example: '2020-12-16T11:52:24.477Z'
        modifyUser:
          title: Resource Object Version Creation User Reference
          type: string
          description: 'The user reference, which created this version of this resource object. Set by the System.'
          example: some-user@some-company-cloud.com
        acl:
          title: Access Control List
          allOf:
            - $ref: '#/components/schemas/TagDictionary'
          description: The access control tags associated with this entity.
        data:
          title: Marker Data
          allOf:
            - $ref: '#/components/schemas/markerData'
          description: 'Geological marker using a single point-observation, typically along a wellbore.'
        id:
          title: Marker ID
          type: string
          description: The unique identifier of the marker
        kind:
          title: Marker Kind
          type: string
          description: Marker kind specification
        legal:
          title: Legal Tags
          allOf:
            - $ref: '#/components/schemas/Legal'
          description: The marker's legal tags
        version:
          title: Entity Version Number
          type: number
          description: The version number of this marker; set by the framework.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    markerData:
      title: markerData
      required:
        - md
        - name
      type: object
      properties:
        age:
          title: Age
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: The absolute age at the feature boundary. The unit definition is found via the property's unitKey' in 'frameOfReference.units' dictionary.
        boundaryRelation:
          title: Interface Boundary Relation
          type: string
          description: The marker boundary relationship classification
        classification:
          title: Marker Classification
          type: string
          description: 'The classification of the marker. Could be client-defined via a catalog, e.g. common:wke:markerClassification:1.0.0 and common:wke:markerClassificationMember:1.0.0'
        dateCreated:
          title: Creation Date and Time
          type: string
          description: The UTC date time of the entity creation
          format: date-time
        dateModified:
          title: Last Modification Date and Time
          type: string
          description: The UTC date time of the last entity modification
          format: date-time
        depth:
          title: Marker Depth
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: The original marker depth - measured from data.elevationReference in data.depthReferenceType. The unit definition is found via the property's unitKey' in 'frameOfReference.units' dictionary.
        depthReferenceType:
          title: Depth Reference Code
          type: string
          description: Depth reference code defining the type of depth for the marker. Default MD (measured depth). Depth is downwards increasing.
          default: MD
        elevationReference:
          title: Elevation Reference Level
          allOf:
            - $ref: '#/components/schemas/SimpleElevationReference'
          description: 'The elevation from mean sea level (MSL), where depth, topDepth, baseDepth are zero. Values above MSL are positive.'
        externalIds:
          title: Array of External IDs
          type: array
          items:
            type: string
          description: 'An array of identities (e.g. some kind if URL to be resolved in an external data store), which links to external realizations of the same entity.'
        interpreter:
          title: Interpreter Name
          type: string
          description: The name of the interpreter who picked this marker.
        locationWGS84:
          title: GeoJSON Marker Location
          allOf:
            - $ref: '#/components/schemas/GeoJsonFeatureCollection'
          description: The marker's shape as GeoJSON Point.
        markerFeatureType:
          title: Marker Feature Type
          type: string
          description: 'The marker''s type of feature like ''seismic'', ''structural'', ''stratigraphic'''
        markerGeoDomain:
          title: Marker GeoScience Domain
          type: string
          description: 'The marker''s GeoScience domain like ''geologic'', ''reservoir'', ''petrophysical'''
        markerSubFeatureAttribute:
          title: Marker Sub-feature Attribute
          type: string
          description: 'Further specification of the marker''s sub-feature, e.g. in sequence stratigraphy.'
        markerSubFeatureType:
          title: Marker Sub-feature Type
          type: string
          description: 'The marker''s sub-type of the feature like ''horizon'', ''fault'', ''fracture'''
        md:
          title: Marker Measured Depth
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: The marker measured depth (MD) measured from data.elevationReference. The unit definition is found via the property's unitKey' in 'frameOfReference.units' dictionary.
        name:
          title: Marker Name
          type: string
          description: The name of the marker
        planeOrientationAzimuth:
          title: Azimuth Angle
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: Azimuth angle. The azimuth reference is given by data.azimuthReference. The 'planeOrientationAzimuth.unitKey' is to be looked up in the 'frameOfReference.units' dictionary to find the self-contained definition.
        planeOrientationDip:
          title: Dip Angle
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: Dip angle. The 'planeOrientationDip.unitKey' is to be looked up in the 'frameOfReference.units' dictionary to find the self-contained definition.
        relationships:
          title: Relationships
          allOf:
            - $ref: '#/components/schemas/markerrelationships'
          description: The entities related to this marker.
        stratigraphicHierarchyLevel:
          title: Column Level
          type: integer
          description: 'Optional hierarchical level in the chrono-stratigraphic/litho-stratigraphic catalog table, identified by the data.relationships.chartId'
        tvd:
          title: Marker Measured Depth
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: The marker true vertical depth (TVD) measured from data.elevationReference. The unit definition is found via the property's unitKey' in 'frameOfReference.units' dictionary.
        wgs84ElevationFromMsl:
          title: Elevation from MSL
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: 'Elevation from Mean Sea Level, downwards negative. The unit definition is found via the property''s unitKey'' in ''frameOfReference.units'' dictionary.'
        wgs84LatitudeLongitude:
          title: WGS 84 Latitude Longitude
          allOf:
            - $ref: '#/components/schemas/core_dl_geopoint'
          description: The marker's position in WGS 84 latitude and longitude.
      description: Used for data model allows extra fields which are not declared initially in the pydantic model
    markerrelationships:
      title: markerrelationships
      type: object
      properties:
        horizon:
          title: Stratigraphic Horizon
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The related stratigraphic horizon
        stratigraphicTable:
          title: Stratigraphic Table
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: 'The related stratigraphic table, which provides the context for the stratigraphic horizon'
        study:
          title: Study
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: 'The study, in which this marker was conceived.'
        trajectory:
          title: Trajectory
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: The trajectory used to create the marker position
        wellbore:
          title: Wellbore
          allOf:
            - $ref: '#/components/schemas/ToOneRelationship'
          description: 'The wellbore entity, to which this marker belongs.'
      description: Used for data model allows extra fields which are not declared initially in the pydantic model
    namedProperty:
      title: namedProperty
      type: object
      properties:
        associations:
          title: Associations
          type: array
          items:
            type: string
          description: The optional associations contains one or more mnemonics found elsewhere in the logSet.
        description:
          title: Property Description
          type: string
          description: The description and role of this property.
        format:
          title: Format (LAS)
          type: string
          description: 'An optional format declaration for the property values. The ''A'' prefix indicates an array; string values are represented by ''S''; floating point values are represented by ''F'', optionally followed by a field specification, e.g. ''F10.4''; exponential number representations are represented by ''E''; integer values are represented by ''I''. For further information see the LAS specification http://www.cwls.org/las/.'
        name:
          title: Property Name
          type: string
          description: The name of this property.
        unitKey:
          title: Property Unit Symbol
          type: string
          description: The unitKey to be looked up in the 'frameOfReference.units' dictionary to find the self-contained definition.
        value:
          title: Property Value
          anyOf:
            - type: number
            - type: string
          description: The value for this property as a string or a number.
        values:
          title: Property Values (Interval)
          type: array
          items:
            type: number
          description: 'The values, e.g. interval boundaries, for this property.'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
  securitySchemes:
    bearer:
      type: apiKey
      name: Authorization
      in: header
    appkey:
      type: apiKey
      in: header
      name: appkey