# Copyright 2021 Schlumberger
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

openapi: 3.0.2
info:
  title: Wellbore DDMS OSDU
  version: '0.2'
servers:
  - url: https://api.evq.csp.slb.com/osdu/wdms/wellbore/v2
security:
- bearer: []
- appkey: []
paths:
  /about:
    get:
      summary: Get About
      operationId: get_about_ddms_v2_about_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AboutResponse'
  /version:
    get:
      summary: Get Version
      operationId: get_version_ddms_v2_version_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionDetailsResponse'
      security:
        - bearer: []
        - appkey: []
  /status:
    get:
      summary: Get the status of the service
      operationId: about_ddms_v2_status_get
      parameters:
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1AboutResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/wells/{wellid}':
    get:
      tags:
        - Well
      summary: 'Get the Well using wks:well:1.0.2 schema'
      description: |-
        Get the Well object using its **id**.  <p>If the well kind is
                *wks:well:1.0.2* returns the record directly</p> <p>If the well
                kind is different *wks:well:1.0.2* it will get the raw record and
                convert the results to match the *wks:well:1.0.2*. If convertion is
                not possible returns an error **500**
      operationId: get_well
      parameters:
        - required: true
          schema:
            title: Wellid
            type: string
          name: wellid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/well'
        '404':
          description: Well not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
    delete:
      tags:
        - Well
      summary: Delete the well. The API performs a logical deletion of the given record
      operationId: del_well
      parameters:
        - required: true
          schema:
            title: Wellid
            type: string
          name: wellid
          in: path
        - description: Whether or not to delete records children
          required: false
          schema:
            title: Recursive
            type: boolean
            description: Whether or not to delete records children
            default: false
          name: recursive
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '204':
          description: Record deleted successfully
        '404':
          description: Well not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/wells/{wellid}/versions':
    get:
      tags:
        - Well
      summary: Get all versions of the Well
      operationId: get_well_versions
      parameters:
        - required: true
          schema:
            title: Wellid
            type: string
          name: wellid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordVersions'
        '404':
          description: Well not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/wells/{wellid}/versions/{version}':
    get:
      tags:
        - Well
      summary: 'Get the given version of the Well using wks:well:1.0.2 schema'
      description: |-
        "Get the Well object using its **id**.  <p>If the well kind is
                *wks:well:1.0.2* returns the record directly</p> <p>If the well
                kind is different *wks:well:1.0.2* it will get the raw record and
                convert the results to match the *wks:well:1.0.2*. If convertion is
                not possible returns an error **500**
      operationId: get_well_version
      parameters:
        - required: true
          schema:
            title: Wellid
            type: string
          name: wellid
          in: path
        - required: true
          schema:
            title: Version
            type: integer
          name: version
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/well'
        '404':
          description: Well not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  /wells:
    post:
      tags:
        - Well
      summary: 'Create or update the Wells using wks:well:1.0.2 schema'
      operationId: post_well
      parameters:
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              title: Wells
              type: array
              items:
                $ref: '#/components/schemas/well'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateRecordsResponse'
        '400':
          description: Missing mandatory parameter or unknown parameter
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/wellbores/{wellboreid}':
    get:
      tags:
        - Wellbore
      summary: 'Get the Wellbore using wks:wellbore:1.0.6 schema'
      description: |-
        Get the Wellbore object using its **id**.  <p>If the wellbore kind is
                *wks:wellbore:1.0.6* returns the record directly</p> <p>If the wellbore
                kind is different *wks:wellbore:1.0.6* it will get the raw record and
                convert the results to match the *wks:wellbore:1.0.6*. If convertion is
                not possible returns an error **500**
      operationId: get_wellbore
      parameters:
        - required: true
          schema:
            title: Wellboreid
            type: string
          name: wellboreid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wellbore'
        '404':
          description: Wellbore not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
    delete:
      tags:
        - Wellbore
      summary: Delete the wellbore. The API performs a logical deletion of the given record
      operationId: del_wellbore
      parameters:
        - required: true
          schema:
            title: Wellboreid
            type: string
          name: wellboreid
          in: path
        - description: Whether or not to delete records children
          required: false
          schema:
            title: Recursive
            type: boolean
            description: Whether or not to delete records children
            default: false
          name: recursive
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '204':
          description: Record deleted successfully
        '404':
          description: Wellbore not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/wellbores/{wellboreid}/versions':
    get:
      tags:
        - Wellbore
      summary: Get all versions of the Wellbore
      operationId: get_wellbore_versions
      parameters:
        - required: true
          schema:
            title: Wellboreid
            type: string
          name: wellboreid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordVersions'
        '404':
          description: Wellbore not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/wellbores/{wellboreid}/versions/{version}':
    get:
      tags:
        - Wellbore
      summary: 'Get the given version of the Wellbore using wks:wellbore:1.0.6 schema'
      description: |-
        "Get the Wellbore object using its **id**.  <p>If the wellbore kind is
                *wks:wellbore:1.0.6* returns the record directly</p> <p>If the wellbore
                kind is different *wks:wellbore:1.0.6* it will get the raw record and
                convert the results to match the *wks:wellbore:1.0.6*. If convertion is
                not possible returns an error **500**
      operationId: get_wellbore_version
      parameters:
        - required: true
          schema:
            title: Wellboreid
            type: string
          name: wellboreid
          in: path
        - required: true
          schema:
            title: Version
            type: integer
          name: version
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/wellbore'
        '404':
          description: Wellbore not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  /wellbores:
    post:
      tags:
        - Wellbore
      summary: 'Create or update the Wellbores using wks:wellbore:1.0.6 schema'
      operationId: post_wellbore
      parameters:
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              title: Wellbores
              type: array
              items:
                $ref: '#/components/schemas/wellbore'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateRecordsResponse'
        '400':
          description: Missing mandatory parameter or unknown parameter
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/logsets/{logsetid}':
    get:
      tags:
        - Logset
      summary: 'Get the LogSet using wks:logSet:1.0.5 schema'
      description: Get the LogSet object using its **id**
      operationId: get_logset
      parameters:
        - required: true
          schema:
            title: Logsetid
            type: string
          name: logsetid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logset'
        '404':
          description: LogSet not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
    delete:
      tags:
        - Logset
      summary: Delete the LogSet. The API performs a logical deletion of the given record
      operationId: del_logset
      parameters:
        - required: true
          schema:
            title: Logsetid
            type: string
          name: logsetid
          in: path
        - description: Whether or not to delete records children
          required: false
          schema:
            title: Recursive
            type: boolean
            description: Whether or not to delete records children
            default: false
          name: recursive
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '204':
          description: Record deleted successfully
        '404':
          description: LogSet not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/logsets/{logsetid}/versions':
    get:
      tags:
        - Logset
      summary: Get all versions of the logset
      operationId: get_logset_versions
      parameters:
        - required: true
          schema:
            title: Logsetid
            type: string
          name: logsetid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordVersions'
        '404':
          description: LogSet not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/logsets/{logsetid}/versions/{version}':
    get:
      tags:
        - Logset
      summary: 'Get the given version of LogSet using wks:logSet:1.0.5 schema'
      description: '"Get the LogSet object using its **id**.'
      operationId: get_logset_version
      parameters:
        - required: true
          schema:
            title: Logsetid
            type: string
          name: logsetid
          in: path
        - required: true
          schema:
            title: Version
            type: integer
          name: version
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logset'
        '404':
          description: LogSet not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  /logsets:
    post:
      tags:
        - Logset
      summary: 'Create or update the LogSets using wks:logSet:1.0.5 schema'
      operationId: post_logset
      parameters:
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              title: Logsets
              type: array
              items:
                $ref: '#/components/schemas/logset'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateRecordsResponse'
        '400':
          description: Missing mandatory parameter or unknown parameter
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/trajectories/{trajectoryid}':
    get:
      tags:
        - Trajectory
      summary: 'Get the trajectory using wks:trajectory:1.0.5 schema'
      description: Get the Trajectory object using its **id**
      operationId: get_trajectory
      parameters:
        - required: true
          schema:
            title: Trajectoryid
            type: string
          name: trajectoryid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trajectory'
        '404':
          description: Trajectory not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
    delete:
      tags:
        - Trajectory
      summary: Delete the Trajectory. The API performs a logical deletion of the given record
      operationId: del_trajectory
      parameters:
        - required: true
          schema:
            title: Trajectoryid
            type: string
          name: trajectoryid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '204':
          description: Record deleted successfully
        '404':
          description: Trajectory not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/trajectories/{trajectoryid}/versions':
    get:
      tags:
        - Trajectory
      summary: Get all versions of the Trajectory
      operationId: get_trajectory_versions
      parameters:
        - required: true
          schema:
            title: Trajectoryid
            type: string
          name: trajectoryid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordVersions'
        '404':
          description: Trajectory not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/trajectories/{trajectoryid}/versions/{version}':
    get:
      tags:
        - Trajectory
      summary: 'Get the given version of Trajectory using wks:Trajectory:1.0.5 schema'
      operationId: get_trajectory_version
      parameters:
        - required: true
          schema:
            title: Trajectoryid
            type: string
          name: trajectoryid
          in: path
        - required: true
          schema:
            title: Version
            type: integer
          name: version
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trajectory'
        '404':
          description: Trajectory not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  /trajectories:
    post:
      tags:
        - Trajectory
      summary: 'Create or update the trajectories using wks:Trajectory:1.0.5 schema'
      operationId: post_trajectory
      parameters:
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              title: Trajectories
              type: array
              items:
                $ref: '#/components/schemas/trajectory'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateRecordsResponse'
        '400':
          description: Missing mandatory parameter or unknown parameter
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/trajectories/{trajectoryid}/data':
    get:
      tags:
        - Trajectory
      summary: Returns all data within the specified filters. Strongly consistent.
      description: return full bulk data
      operationId: get_traj_data
      parameters:
        - required: true
          schema:
            title: Trajectoryid
            type: string
          name: trajectoryid
          in: path
        - description: 'List of channels to get. If not provided, return all channels.'
          required: false
          schema:
            title: Channels
            type: array
            items:
              type: string
            description: 'List of channels to get. If not provided, return all channels.'
          name: channels
          in: query
        - description: 'define format when using JSON data is used. Value can be split, index, columns, records'
          required: false
          schema:
            title: Orient
            pattern: split|index|columns|records
            type: string
            description: 'define format when using JSON data is used. Value can be split, index, columns, records'
            default: split
          name: orient
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: |-
            Get trajectory data of the given channels.
            It uses [Pandas.Dataframe json format](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html).
             Here're examples for data with 5 rows for channels MD, X, Y with different _orient_: 
            * split:  <br/>`{"columns":["MD","X","Y"],"index":[0,1,2,3,4],"data":[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]}`<br/>&nbsp;
            * index:  <br/>`{"0":{"MD":0.0,"X":1001,"Y":2001},"1":{"MD":0.5,"X":1002,"Y":2002},"2":{"MD":1.0,"X":1003,"Y":2003},"3":{"MD":1.5,"X":1004,"Y":2004},"4":{"MD":2.0,"X":1005,"Y":2005}}`<br/>&nbsp;
            * columns:  <br/>`{"MD":{"0":0.0,"1":0.5,"2":1.0,"3":1.5,"4":2.0},"X":{"0":1001,"1":1002,"2":1003,"3":1004,"4":1005},"Y":{"0":2001,"1":2002,"2":2003,"3":2004,"4":2005}}`<br/>&nbsp;
            * records:  <br/>`[{"MD":0.0,"X":1001,"Y":2001},{"MD":0.5,"X":1002,"Y":2002},{"MD":1.0,"X":1003,"Y":2003},{"MD":1.5,"X":1004,"Y":2004},{"MD":2.0,"X":1005,"Y":2005}]`<br/>&nbsp;
            * values:  <br/>`[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]`<br/>&nbsp;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLogDataResponse'
              example: '{"columns":["MD","X","Y"],"index":[0,1,2,3,4],"data":[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]}'
        '204':
          description: No bulkURI
        '400':
          description: unknown channels
        '404':
          description: trajectory not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Record has an invalid bulkURI
      security:
        - bearer: []
        - appkey: []
    post:
      tags:
        - Trajectory
      summary: Writes the specified data to the trajectory (atomic).
      description: Overwrite if exists
      operationId: post_traj_data
      parameters:
        - required: true
          schema:
            title: Trajectoryid
            type: string
          name: trajectoryid
          in: path
        - description: 'define format when using JSON data is used. Value can be split, index, columns, records'
          required: false
          schema:
            title: Orient
            pattern: split|index|columns|records
            type: string
            description: 'define format when using JSON data is used. Value can be split, index, columns, records'
            default: split
          name: orient
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateRecordsResponse'
        '404':
          description: trajectory not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
      requestBody:
        description: |-
          Write trajectory bulk data. Each column corresponds to a channel.
          It uses [Pandas.Dataframe json format](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html).
           Here're examples for data with 5 rows and 3 channels (MD, X, Y) with different _orient_: 
          * split: <br/>`{"columns":["MD","X","Y"],"index":[0,1,2,3,4],"data":[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]}`<br/>&nbsp;
          * index: <br/>`{"0":{"MD":0.0,"X":1001,"Y":2001},"1":{"MD":0.5,"X":1002,"Y":2002},"2":{"MD":1.0,"X":1003,"Y":2003},"3":{"MD":1.5,"X":1004,"Y":2004},"4":{"MD":2.0,"X":1005,"Y":2005}}`<br/>&nbsp;
          * columns: <br/>`{"MD":{"0":0.0,"1":0.5,"2":1.0,"3":1.5,"4":2.0},"X":{"0":1001,"1":1002,"2":1003,"3":1004,"4":1005},"Y":{"0":2001,"1":2002,"2":2003,"3":2004,"4":2005}}`<br/>&nbsp;
          * records: <br/>`[{"MD":0.0,"X":1001,"Y":2001},{"MD":0.5,"X":1002,"Y":2002},{"MD":1.0,"X":1003,"Y":2003},{"MD":1.5,"X":1004,"Y":2004},{"MD":2.0,"X":1005,"Y":2005}]`<br/>&nbsp;
        required: true
        content:
          application/json:
            schema:
              example: '{"columns":["MD","X","Y"],"index":[0,1,2,3,4],"data":[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]}'
              oneOf:
                - title: SplitFormat
                  type: object
                  properties:
                    data:
                      title: Data
                      anyOf:
                        - type: array
                          items:
                            anyOf:
                              - type: string
                              - type: integer
                              - type: number
                        - type: array
                          items:
                            type: array
                            items:
                              anyOf:
                                - type: string
                                - type: integer
                                - type: number
                    columns:
                      title: Columns
                      type: array
                      items:
                        anyOf:
                          - type: string
                          - type: integer
                          - type: number
                    index:
                      title: Index
                      type: array
                      items:
                        anyOf:
                          - type: string
                          - type: integer
                          - type: number
                  required:
                    - data
                - title: IndexFormat
                  type: object
                  properties:
                    TODO:
                      title: Todo
                      type: string
                  required:
                    - TODO
                - title: ColumnFormat
                  type: object
                  properties:
                    TODO:
                      title: Todo
                      type: string
                  required:
                    - TODO
                - title: RecordsFormat
                  type: object
                  properties:
                    TODO:
                      title: Todo
                      type: string
                  required:
                    - TODO
                - title: ValuesFormat
                  type: array
                  items:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: integer
                        - type: number
  '/logs/{logid}':
    get:
      tags:
        - Log
      summary: 'Get the Log using wks:log:1.0.5 schema'
      description: |2-

                        Get the log object using its data ecosystem **id**.  <p>If the log
                        kind is *wks:log:1.0.5* returns the record directly</p> <p>If the
                        wellbore kind is different *wks:log:1.0.5* it will get the raw
                        record and convert the results to match the *wks:log:1.0.5*. If
                        conversion is not possible returns an error **500**</p>
      operationId: get_log
      parameters:
        - required: true
          schema:
            title: Logid
            type: string
          name: logid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/log'
        '404':
          description: log not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
    delete:
      tags:
        - Log
      summary: Delete the log. The API performs a logical deletion of the given record
      operationId: del_log
      parameters:
        - required: true
          schema:
            title: Logid
            type: string
          name: logid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '204':
          description: Record deleted successfully
        '404':
          description: log not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  /logs:
    post:
      tags:
        - Log
      summary: 'Create or update the logs using wks:log:1.0.5 schema'
      operationId: post_log
      parameters:
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      requestBody:
        content:
          application/json:
            schema:
              title: Logs
              type: array
              items:
                $ref: '#/components/schemas/log'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateRecordsResponse'
        '400':
          description: Missing mandatory parameter or unknown parameter
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/logs/{logid}/versions':
    get:
      tags:
        - Log
      summary: Get all versions of the log
      operationId: get_log_versions
      parameters:
        - required: true
          schema:
            title: Logid
            type: string
          name: logid
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordVersions'
        '404':
          description: log not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/logs/{logid}/versions/{version}':
    get:
      tags:
        - Log
      summary: 'Get the given version of log using wks:log:1.0.5 schema'
      operationId: get_log_version
      parameters:
        - required: true
          schema:
            title: Logid
            type: string
          name: logid
          in: path
        - required: true
          schema:
            title: Version
            type: integer
          name: version
          in: path
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/log'
        '404':
          description: log not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/logs/{logid}/data':
    get:
      tags:
        - Log
      summary: Returns all data within the specified filters. Strongly consistent.
      description: return full bulk data
      operationId: get_log_data
      parameters:
        - required: true
          schema:
            title: Logid
            type: string
          name: logid
          in: path
        - description: 'define format when using JSON data is used. Value can be split, index, columns, records, values'
          required: false
          schema:
            title: Orient
            pattern: split|index|columns|records|values
            type: string
            description: 'define format when using JSON data is used. Value can be split, index, columns, records, values'
            default: split
          name: orient
          in: query
        - description: 'The json path to the bulk reference (see https://goessner.net/articles/JsonPath/). Required for non wks:log.'
          required: false
          schema:
            title: Bulk-Path
            type: string
            description: 'The json path to the bulk reference (see https://goessner.net/articles/JsonPath/). Required for non wks:log.'
          name: bulk-path
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: |-
            Get log bulk data in format in the given _orient_ value.
            It uses [Pandas.Dataframe json format](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html).
             Here're examples for data with 5 rows and 3 columns with different _orient_: 
            * split:  <br/>`{"columns":["Ref","col_100X","col_200X"],"index":[0,1,2,3,4],"data":[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]}`<br/>&nbsp;
            * index:  <br/>`{"0":{"Ref":0.0,"col_100X":1001,"col_200X":2001},"1":{"Ref":0.5,"col_100X":1002,"col_200X":2002},"2":{"Ref":1.0,"col_100X":1003,"col_200X":2003},"3":{"Ref":1.5,"col_100X":1004,"col_200X":2004},"4":{"Ref":2.0,"col_100X":1005,"col_200X":2005}}`<br/>&nbsp;
            * columns:  <br/>`{"Ref":{"0":0.0,"1":0.5,"2":1.0,"3":1.5,"4":2.0},"col_100X":{"0":1001,"1":1002,"2":1003,"3":1004,"4":1005},"col_200X":{"0":2001,"1":2002,"2":2003,"3":2004,"4":2005}}`<br/>&nbsp;
            * records:  <br/>`[{"Ref":0.0,"col_100X":1001,"col_200X":2001},{"Ref":0.5,"col_100X":1002,"col_200X":2002},{"Ref":1.0,"col_100X":1003,"col_200X":2003},{"Ref":1.5,"col_100X":1004,"col_200X":2004},{"Ref":2.0,"col_100X":1005,"col_200X":2005}]`<br/>&nbsp;
            * values:  <br/>`[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]`<br/>&nbsp;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLogDataResponse'
              example: '{"columns":["Ref","col_100X","col_200X"],"index":[0,1,2,3,4],"data":[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]}'
        '404':
          description: log not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
    post:
      tags:
        - Log
      summary: Writes the specified data to the log (atomic).
      description: Overwrite if exists
      operationId: write_log_data
      parameters:
        - required: true
          schema:
            title: Logid
            type: string
          name: logid
          in: path
        - description: 'define format when using JSON data is used. Value can be split, index, columns, records, values'
          required: false
          schema:
            title: Orient
            pattern: split|index|columns|records|values
            type: string
            description: 'define format when using JSON data is used. Value can be split, index, columns, records, values'
            default: split
          name: orient
          in: query
        - description: 'The json path to the bulk reference (see https://goessner.net/articles/JsonPath/). Required for non wks:log.'
          required: false
          schema:
            title: Bulk-Path
            type: string
            description: 'The json path to the bulk reference (see https://goessner.net/articles/JsonPath/). Required for non wks:log.'
          name: bulk-path
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateRecordsResponse'
        '404':
          description: log not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
      requestBody:
        description: |-
          Write log bulk data.
          It uses [Pandas.Dataframe json format](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html).
           Here're examples for data with 5 rows and 3 columns with different _orient_: 
          * split:  <br/>`{"columns":["Ref","col_100X","col_200X"],"index":[0,1,2,3,4],"data":[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]}`<br/>&nbsp;
          * index:  <br/>`{"0":{"Ref":0.0,"col_100X":1001,"col_200X":2001},"1":{"Ref":0.5,"col_100X":1002,"col_200X":2002},"2":{"Ref":1.0,"col_100X":1003,"col_200X":2003},"3":{"Ref":1.5,"col_100X":1004,"col_200X":2004},"4":{"Ref":2.0,"col_100X":1005,"col_200X":2005}}`<br/>&nbsp;
          * columns:  <br/>`{"Ref":{"0":0.0,"1":0.5,"2":1.0,"3":1.5,"4":2.0},"col_100X":{"0":1001,"1":1002,"2":1003,"3":1004,"4":1005},"col_200X":{"0":2001,"1":2002,"2":2003,"3":2004,"4":2005}}`<br/>&nbsp;
          * records:  <br/>`[{"Ref":0.0,"col_100X":1001,"col_200X":2001},{"Ref":0.5,"col_100X":1002,"col_200X":2002},{"Ref":1.0,"col_100X":1003,"col_200X":2003},{"Ref":1.5,"col_100X":1004,"col_200X":2004},{"Ref":2.0,"col_100X":1005,"col_200X":2005}]`<br/>&nbsp;
          * values:  <br/>`[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]`<br/>&nbsp;
        required: true
        content:
          application/json:
            schema:
              example:
                columns:
                  - Ref
                  - col_100X
                  - col_200X
                index:
                  - 0
                  - 1
                  - 2
                  - 3
                  - 4
                data:
                  - - 0
                    - 1001
                    - 2001
                  - - 0.5
                    - 1002
                    - 2002
                  - - 1
                    - 1003
                    - 2003
                  - - 1.5
                    - 1004
                    - 2004
                  - - 2
                    - 1005
                    - 2005
              oneOf:
                - title: SplitFormat
                  type: object
                  properties:
                    data:
                      title: Data
                      anyOf:
                        - type: array
                          items:
                            anyOf:
                              - type: string
                              - type: integer
                              - type: number
                        - type: array
                          items:
                            type: array
                            items:
                              anyOf:
                                - type: string
                                - type: integer
                                - type: number
                    columns:
                      title: Columns
                      type: array
                      items:
                        anyOf:
                          - type: string
                          - type: integer
                          - type: number
                    index:
                      title: Index
                      type: array
                      items:
                        anyOf:
                          - type: string
                          - type: integer
                          - type: number
                  required:
                    - data
                - title: IndexFormat
                  type: object
                  properties:
                    TODO:
                      title: Todo
                      type: string
                  required:
                    - TODO
                - title: ColumnFormat
                  type: object
                  properties:
                    TODO:
                      title: Todo
                      type: string
                  required:
                    - TODO
                - title: RecordsFormat
                  type: object
                  properties:
                    TODO:
                      title: Todo
                      type: string
                  required:
                    - TODO
                - title: ValuesFormat
                  type: array
                  items:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: integer
                        - type: number
  '/logs/{logid}/upload_data':
    post:
      tags:
        - Log
      summary: Writes the data to the log. Support json file (then orient must be provided) and parquet
      description: Overwrite if exists
      operationId: upload_log_data
      parameters:
        - required: true
          schema:
            title: Logid
            type: string
          name: logid
          in: path
        - description: 'define format when using JSON data is used. Value can be split, index, columns, records, values'
          required: false
          schema:
            title: Orient
            pattern: split|index|columns|records|values
            type: string
            description: 'define format when using JSON data is used. Value can be split, index, columns, records, values'
            default: split
          name: orient
          in: query
        - description: 'The json path to the bulk reference (see https://goessner.net/articles/JsonPath/). Required for non wks:log.'
          required: false
          schema:
            title: Bulk-Path
            type: string
            description: 'The json path to the bulk reference (see https://goessner.net/articles/JsonPath/). Required for non wks:log.'
          name: bulk-path
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_log_data_file_ddms_v2_logs__logid__upload_data_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUpdateRecordsResponse'
        '400':
          description: invalid request
        '404':
          description: log not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/logs/{logid}/statistics':
    get:
      tags:
        - Log
      summary: Data statistics
      description: 'This API will return count, mean, std, min, max and percentiles of each column'
      operationId: get_log_data_statistics_ddms_v2_logs__logid__statistics_get
      parameters:
        - required: true
          schema:
            title: Logid
            type: string
          name: logid
          in: path
        - description: 'The json path to the bulk reference (see https://goessner.net/articles/JsonPath/). Required for non wks:log.'
          required: false
          schema:
            title: Bulk-Path
            type: string
            description: 'The json path to the bulk reference (see https://goessner.net/articles/JsonPath/). Required for non wks:log.'
          name: bulk-path
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatisticResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/logs/{logid}/versions/{version}/data':
    get:
      tags:
        - Log
      summary: Returns all data within the specified filters. Strongly consistent.
      description: return full bulk data
      operationId: get_log_data_by_version
      parameters:
        - required: true
          schema:
            title: Logid
            type: string
          name: logid
          in: path
        - required: true
          schema:
            title: Version
            type: integer
          name: version
          in: path
        - description: 'define format when using JSON data is used. Value can be split, index, columns, records, values'
          required: false
          schema:
            title: Orient
            pattern: split|index|columns|records|values
            type: string
            description: 'define format when using JSON data is used. Value can be split, index, columns, records, values'
            default: split
          name: orient
          in: query
        - description: 'The json path to the bulk reference (see https://goessner.net/articles/JsonPath/). Required for non wks:log.'
          required: false
          schema:
            title: Bulk-Path
            type: string
            description: 'The json path to the bulk reference (see https://goessner.net/articles/JsonPath/). Required for non wks:log.'
          name: bulk-path
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: |-
            Get log bulk data in format in the given _orient_ value.
            It uses [Pandas.Dataframe json format](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html).
             Here're examples for data with 5 rows and 3 columns with different _orient_: 
            * split:  <br/>`{"columns":["Ref","col_100X","col_200X"],"index":[0,1,2,3,4],"data":[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]}`<br/>&nbsp;
            * index:  <br/>`{"0":{"Ref":0.0,"col_100X":1001,"col_200X":2001},"1":{"Ref":0.5,"col_100X":1002,"col_200X":2002},"2":{"Ref":1.0,"col_100X":1003,"col_200X":2003},"3":{"Ref":1.5,"col_100X":1004,"col_200X":2004},"4":{"Ref":2.0,"col_100X":1005,"col_200X":2005}}`<br/>&nbsp;
            * columns:  <br/>`{"Ref":{"0":0.0,"1":0.5,"2":1.0,"3":1.5,"4":2.0},"col_100X":{"0":1001,"1":1002,"2":1003,"3":1004,"4":1005},"col_200X":{"0":2001,"1":2002,"2":2003,"3":2004,"4":2005}}`<br/>&nbsp;
            * records:  <br/>`[{"Ref":0.0,"col_100X":1001,"col_200X":2001},{"Ref":0.5,"col_100X":1002,"col_200X":2002},{"Ref":1.0,"col_100X":1003,"col_200X":2003},{"Ref":1.5,"col_100X":1004,"col_200X":2004},{"Ref":2.0,"col_100X":1005,"col_200X":2005}]`<br/>&nbsp;
            * values:  <br/>`[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]`<br/>&nbsp;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLogDataResponse'
              example: '{"columns":["Ref","col_100X","col_200X"],"index":[0,1,2,3,4],"data":[[0.0,1001,2001],[0.5,1002,2002],[1.0,1003,2003],[1.5,1004,2004],[2.0,1005,2005]]}'
        '404':
          description: log not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - bearer: []
        - appkey: []
  '/logs/{logid}/decimated':
    get:
      tags:
        - Log
      summary: Returns a decimated version of all data within the specified filters. Eventually consistent.
      description: |-
        TODO
                    Note: row order is not preserved.
      operationId: get_log_decimated
      parameters:
        - required: true
          schema:
            title: Logid
            type: string
          name: logid
          in: path
        - description: Number of division desired
          required: false
          schema:
            title: Quantiles
            type: integer
            description: Number of division desired
          name: quantiles
          in: query
        - description: The start value for the log decimation
          required: false
          schema:
            title: Start
            type: number
            description: The start value for the log decimation
          name: start
          in: query
        - description: The stop value for the log decimation
          required: false
          schema:
            title: Stop
            type: number
            description: The stop value for the log decimation
          name: stop
          in: query
        - description: 'define format when using JSON data is used. Value can be split, index, columns, records, values'
          required: false
          schema:
            title: Orient
            pattern: split|index|columns|records|values
            type: string
            description: 'define format when using JSON data is used. Value can be split, index, columns, records, values'
            default: split
          name: orient
          in: query
        - description: 'The json path to the bulk reference (see https://goessner.net/articles/JsonPath/). Required for non wks:log.'
          required: false
          schema:
            title: Bulk-Path
            type: string
            description: 'The json path to the bulk reference (see https://goessner.net/articles/JsonPath/). Required for non wks:log.'
          name: bulk-path
          in: query
        - description: identifier of the data partition to query
          required: false
          schema:
            title: data partition id
            minLength: 1
            type: string
            description: identifier of the data partition to query
            default: slb-osdu-dev-sis-internal-hq
          name: data-partition-id
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '404':
          description: log not found
        '422':
          description: log is not compatible with decimation
      security:
        - bearer: []
        - appkey: []
components:
  schemas:
    AboutResponse:
      title: AboutResponse
      type: object
      properties:
        service:
          title: Service
          type: string
        version:
          title: Version
          type: string
        buildNumber:
          title: Buildnumber
          type: string
        cloudEnvironment:
          title: Cloudenvironment
          type: string
    AboutResponseUser:
      title: AboutResponseUser
      type: object
      properties:
        tenant:
          title: Tenant
          type: string
        email:
          title: Email
          type: string
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    Body_upload_log_data_file_ddms_v2_logs__logid__upload_data_post:
      title: Body_upload_log_data_file_ddms_v2_logs__logid__upload_data_post
      required:
        - file
      type: object
      properties:
        file:
          title: File
          type: string
          format: binary
    CreateUpdateRecordsResponse:
      title: CreateUpdateRecordsResponse
      type: object
      properties:
        recordCount:
          title: Recordcount
          type: integer
        recordIds:
          title: Recordids
          type: array
          items:
            type: string
        skippedRecordIds:
          title: Skippedrecordids
          type: array
          items:
            type: string
    DataType:
      title: DataType
      enum:
        - string
        - number
        - integer
        - boolean
      description: An enumeration.
    DataType_1:
      title: DataType_1
      enum:
        - string
        - number
        - integer
        - boolean
      description: An enumeration.
    DataType_2:
      title: DataType_2
      enum:
        - string
        - number
        - integer
        - boolean
        - date-time
      description: An enumeration.
    DirectionWell:
      title: DirectionWell
      enum:
        - huff-n-puff
        - injector
        - producer
        - uncertain
        - unknown
      description: An enumeration.
    FluidWell:
      title: FluidWell
      enum:
        - air
        - condensate
        - dry
        - gas
        - gas-water
        - non HC gas
        - non HC gas -- CO2
        - oil
        - oil-gas
        - oil-water
        - steam
        - water
        - water -- brine
        - water -- fresh water
        - unknown
      description: An enumeration.
    Format:
      title: Format
      enum:
        - date
        - date-time
        - time
        - byte
        - binary
        - boolean
        - email
        - uuid
        - uri
        - int8
        - int16
        - int32
        - int64
        - float32
        - float64
        - float128
      description: An enumeration.
    Format_1:
      title: Format_1
      enum:
        - date
        - date-time
        - time
        - byte
        - binary
        - boolean
        - email
        - uuid
        - uri
        - int8
        - int16
        - int32
        - int64
        - float32
        - float64
        - float128
      description: An enumeration.
    Format_2:
      title: Format_2
      enum:
        - date
        - date-time
        - time
        - byte
        - binary
        - email
        - uuid
        - uri
        - int8
        - int16
        - int32
        - int64
        - float32
        - float64
        - float128
      description: An enumeration.
    GeoJsonFeature:
      title: GeoJsonFeature
      required:
        - geometry
        - properties
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        geometry:
          title: Geometry
          anyOf:
            - $ref: '#/components/schemas/GeoJsonPoint'
            - $ref: '#/components/schemas/GeoJsonMultiPoint'
            - $ref: '#/components/schemas/GeoJsonLineString'
            - $ref: '#/components/schemas/GeoJsonMultiLineString'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/GeoJsonMultiPolygon'
            - $ref: '#/components/schemas/geometryItem'
        properties:
          title: Properties
          type: object
        type:
          $ref: '#/components/schemas/Type_1'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GeoJsonFeatureCollection:
      title: GeoJsonFeatureCollection
      required:
        - features
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        features:
          title: Features
          type: array
          items:
            $ref: '#/components/schemas/GeoJsonFeature'
        type:
          $ref: '#/components/schemas/Type_2'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GeoJsonLineString:
      title: GeoJsonLineString
      required:
        - coordinates
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        coordinates:
          title: Coordinates
          type: array
          items:
            type: array
            items:
              type: number
        type:
          $ref: '#/components/schemas/Type_3'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GeoJsonMultiLineString:
      title: GeoJsonMultiLineString
      required:
        - coordinates
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        coordinates:
          title: Coordinates
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: number
        type:
          $ref: '#/components/schemas/Type_4'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GeoJsonMultiPoint:
      title: GeoJsonMultiPoint
      required:
        - coordinates
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        coordinates:
          title: Coordinates
          type: array
          items:
            type: array
            items:
              type: number
        type:
          $ref: '#/components/schemas/Type_5'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GeoJsonMultiPolygon:
      title: GeoJsonMultiPolygon
      required:
        - coordinates
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
          description: 'Bounding box in longitude, latitude WGS 84.'
        coordinates:
          title: Coordinates
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: array
                items:
                  type: number
          description: 'Array of polygons (minimum 2D), containing an array of point coordinates (longitude, latitude, (optionally elevation and other properties).'
        type:
          $ref: '#/components/schemas/Type_6'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GeoJsonPoint:
      title: GeoJsonPoint
      required:
        - coordinates
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        coordinates:
          title: Coordinates
          type: array
          items:
            type: number
        type:
          $ref: '#/components/schemas/Type_7'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    GetStatisticResponse:
      title: GetStatisticResponse
      required:
        - columns
      type: object
      properties:
        columns:
          title: Columns
          type: array
          items:
            $ref: '#/components/schemas/StatsColumn'
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        errors:
          title: Errors
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    Kind:
      title: Kind
      enum:
        - CRS
        - Unit
        - Measurement
        - AzimuthReference
        - DateTime
      type: string
      description: An enumeration.
    Legal:
      title: Legal
      type: object
      properties:
        legaltags:
          title: Legal Tags
          type: array
          items:
            type: string
          description: 'The list of legal tags, see compliance API.'
        otherRelevantDataCountries:
          title: Other Relevant Data Countries
          type: array
          items:
            type: string
          description: 'The list of other relevant data countries using the ISO 2-letter codes, see compliance API.'
        status:
          title: Legal Status
          type: string
          description: The legal status.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    LinkList:
      title: LinkList
      type: object
      properties: {}
      description: Used for data model allows extra fields which are not declared initially in the pydantic model
    MetaItem:
      title: MetaItem
      required:
        - kind
        - persistableReference
      type: object
      properties:
        kind:
          title: Reference Kind
          allOf:
            - $ref: '#/components/schemas/Kind'
          description: 'The kind of reference, unit, measurement, CRS or azimuth reference.'
        name:
          title: Name or Symbol
          type: string
          description: The name of the CRS or the symbol/name of the unit
        persistableReference:
          title: Persistable Reference
          type: string
          description: The persistable reference string uniquely identifying the CRS or Unit
        propertyNames:
          title: Attribute Names
          type: array
          items:
            type: string
          description: 'The list of property names, to which this meta data item provides Unit/CRS context to. Data structures, which come in a single frame of reference, can register the property name, others require a full path like "data.structureA.propertyB" to define a unique context.'
        propertyValues:
          title: Attribute Names
          type: array
          items:
            type: string
          description: 'The list of property values, to which this meta data item provides Unit/CRS context to. Typically a unit symbol is a value to a data structure; this symbol is then registered in this propertyValues array and the persistableReference provides the absolute reference.'
        uncertainty:
          title: Uncertainty
          type: number
          description: The uncertainty of the values measured given the unit or CRS unit.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    PlssLocation:
      title: PlssLocation
      required:
        - range
        - section
        - township
      type: object
      properties:
        aliquotPart:
          title: Aliquot Part
          type: string
          description: 'A terse, hierarchical reference to a piece of land, in which successive subdivisions of some larger area.'
        range:
          title: Range
          type: string
          description: 'Range, also known as Rng, R; a measure of the distance east or west from a referenced principal meridian, in units of six miles.'
        section:
          title: Section Number
          type: integer
          description: Section number (between 1 and 36)
        township:
          title: Township
          type: string
          description: 'Township, also known as T or Twp; (1) Synonym for survey township, i.e., a square parcel of land of 36 square miles, or (2) A measure of the distance north or south from a referenced baseline, in units of six miles'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    Point3dNonGeoJson:
      title: Point3dNonGeoJson
      required:
        - coordinates
        - crsKey
        - unitKey
      type: object
      properties:
        coordinates:
          title: 3D Point
          type: array
          items:
            type: number
          description: '3-dimensional point; the first coordinate is typically pointing east (easting or longitude), the second coordinate typically points north (northing or latitude). The third coordinate is an elevation (upwards positive, downwards negative). The point''s CRS is given by the container.'
        crsKey:
          title: CRS Key
          type: string
          description: 'The ''crsKey'', which can be looked up in the ''frameOfReference.crs'' for further details.'
        unitKey:
          title: Unit Key
          type: string
          description: 'The ''unitKey'' for the 3rd coordinate, which can be looked up in the ''frameOfReference.unit'' for further details.'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    Polygon:
      title: Polygon
      required:
        - coordinates
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        coordinates:
          title: Coordinates
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: number
        type:
          $ref: '#/components/schemas/Type_8'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    RecordVersions:
      title: RecordVersions
      type: object
      properties:
        recordId:
          title: Recordid
          type: string
        versions:
          title: Versions
          type: array
          items:
            type: integer
    ReferenceType:
      title: ReferenceType
      enum:
        - Date
        - Date Time
        - Measured Depth
        - Core depth
        - True Vertical Depth
        - True Vertical Depth Sub Sea
        - One-Way Time
        - Two-Way Time
      description: An enumeration.
    Shape:
      title: Shape
      enum:
        - build and hold
        - deviated
        - double kickoff
        - horizontal
        - S-shaped
        - vertical
        - unknown
      description: An enumeration.
    SimpleElevationReference:
      title: SimpleElevationReference
      required:
        - elevationFromMsl
      type: object
      properties:
        elevationFromMsl:
          title: Elevation from MSL
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: 'The elevation above mean sea level (MSL), at which the vertical origin is 0.0. The ''unitKey'' is further defined in ''frameOfReference.units''.'
        name:
          title: Elevation Reference Name
          type: string
          description: The name of the Elevation Reference.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    StatsColumn:
      title: StatsColumn
      required:
        - count
        - mean
        - std
        - min
        - 25%
        - 50%
        - 75%
        - max
      type: object
      properties:
        count:
          title: Count
          type: integer
          description: Count number of non-NA/null observations
        mean:
          title: Mean
          type: number
          description: Mean of the values
        std:
          title: Std
          type: number
          description: Standard deviation of the observations
        min:
          title: Min
          type: number
          description: Minimum of the values in the object
        25%:
          title: 25%
          type: number
        50%:
          title: 50%
          type: number
        75%:
          title: 75%
          type: number
        max:
          title: Max
          type: number
          description: Maximum of the values in the object
    TagDictionary:
      title: TagDictionary
      type: object
      properties: {}
      description: Used for data model allows extra fields which are not declared initially in the pydantic model
    ToOneRelationship:
      title: ToOneRelationship
      type: object
      properties:
        confidence:
          title: Relationship Confidence
          type: number
          description: The confidence of the relationship. If the property is absent a well-known relation is implied.
        id:
          title: Related Object Id
          type: string
          description: 'The id of the related object in the Data Ecosystem. If set, the id has priority over the natural key in the name property.'
        name:
          title: Related Object Name
          type: string
          description: The name or natural key of the related object. This property is required if the target object id could not (yet) be identified.
        version:
          title: Entity Version Number
          type: number
          description: 'The version number of the related entity. If no version number is specified, the last version is implied.'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    Type:
      title: Type
      enum:
        - GeometryCollection
      description: An enumeration.
    Type_1:
      title: Type_1
      enum:
        - Feature
      description: An enumeration.
    Type_2:
      title: Type_2
      enum:
        - FeatureCollection
      description: An enumeration.
    Type_3:
      title: Type_3
      enum:
        - LineString
      description: An enumeration.
    Type_4:
      title: Type_4
      enum:
        - MultiLineString
      description: An enumeration.
    Type_5:
      title: Type_5
      enum:
        - MultiPoint
      description: An enumeration.
    Type_6:
      title: Type_6
      enum:
        - MultiPolygon
      description: An enumeration.
    Type_7:
      title: Type_7
      enum:
        - Point
      description: An enumeration.
    Type_8:
      title: Type_8
      enum:
        - Polygon
      description: An enumeration.
    V1AboutResponse:
      title: V1AboutResponse
      type: object
      properties:
        user:
          $ref: '#/components/schemas/AboutResponseUser'
        dmsInfo:
          $ref: '#/components/schemas/V1DmsInfo'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    V1DmsInfo:
      title: V1DmsInfo
      type: object
      properties:
        kinds:
          title: Kinds
          type: array
          items:
            type: string
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    ValidationError:
      title: ValidationError
      required:
        - loc
        - msg
        - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            type: string
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
    ValueWithUnit:
      title: ValueWithUnit
      required:
        - unitKey
        - value
      type: object
      properties:
        unitKey:
          title: Unit Key
          type: string
          description: Unit for value of the corresponding attribute for the domain object in question. The key can be looked up in the 'frameOfReference.units' for further details.
        value:
          title: Value
          type: number
          description: Value of the corresponding attribute for the domain object in question.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    VersionDetailsResponse:
      title: VersionDetailsResponse
      type: object
      properties:
        service:
          title: Service
          type: string
        version:
          title: Version
          type: string
        buildNumber:
          title: Buildnumber
          type: string
        details:
          title: Details
          type: object
          additionalProperties:
            type: string
    WellLocationType:
      title: WellLocationType
      enum:
        - Onshore
        - Offshore
        - unknown
      description: An enumeration.
    WellPurpose:
      title: WellPurpose
      enum:
        - appraisal
        - appraisal -- confirmation appraisal
        - appraisal -- exploratory appraisal
        - exploration
        - exploration -- deeper-pool wildcat
        - exploration -- new-field wildcat
        - exploration -- new-pool wildcat
        - exploration -- outpost wildcat
        - exploration -- shallower-pool wildcat
        - development
        - development -- infill development
        - development -- injector
        - development -- producer
        - fluid storage
        - fluid storage -- gas storage
        - general srvc
        - general srvc -- borehole re-acquisition
        - general srvc -- observation
        - general srvc -- relief
        - general srvc -- research
        - general srvc -- research -- drill test
        - general srvc -- research -- strat test
        - general srvc -- waste disposal
        - mineral
        - unknown
      description: An enumeration.
    WellStatus:
      title: WellStatus
      enum:
        - abandoned
        - active
        - active -- injecting
        - active -- producing
        - completed
        - drilling
        - partially plugged
        - permitted
        - plugged and abandoned
        - proposed
        - sold
        - suspended
        - temporarily abandoned
        - testing
        - tight
        - working over
        - unknown
      description: An enumeration.
    WellType:
      title: WellType
      enum:
        - bypass
        - initial
        - redrill
        - reentry
        - respud
        - sidetrack
        - unknown
      description: An enumeration.
    WellborePurpose:
      title: WellborePurpose
      enum:
        - appraisal
        - appraisal -- confirmation appraisal
        - appraisal -- exploratory appraisal
        - exploration
        - exploration -- deeper-pool wildcat
        - exploration -- new-field wildcat
        - exploration -- new-pool wildcat
        - exploration -- outpost wildcat
        - exploration -- shallower-pool wildcat
        - development
        - development -- infill development
        - development -- injector
        - development -- producer
        - fluid storage
        - fluid storage -- gas storage
        - general srvc
        - general srvc -- borehole re-acquisition
        - general srvc -- observation
        - general srvc -- relief
        - general srvc -- research
        - general srvc -- research -- drill test
        - general srvc -- research -- strat test
        - general srvc -- waste disposal
        - mineral
        - unknown
      description: An enumeration.
    WellboreStatus:
      title: WellboreStatus
      enum:
        - abandoned
        - active
        - active -- injecting
        - active -- producing
        - completed
        - drilling
        - partially plugged
        - permitted
        - plugged and abandoned
        - proposed
        - sold
        - suspended
        - temporarily abandoned
        - testing
        - tight
        - working over
        - unknown
      description: An enumeration.
    WellboreType:
      title: WellboreType
      enum:
        - bypass
        - initial
        - redrill
        - reentry
        - respud
        - sidetrack
        - unknown
      description: An enumeration.
    basinContext:
      title: basinContext
      type: object
      properties:
        basinCode:
          title: Basin Code
          type: string
          description: The code of the basin in which the well is located.
        basinName:
          title: Basin Name
          type: string
          description: The name of the basin in which the well is located.
        subBasinCode:
          title: Sub-Basin Code
          type: string
          description: The code of the sub-basin in which the well is located.
        subBasinName:
          title: Sub-Basin Name
          type: string
          description: The name of the sub-basin in which the well is located.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    channel:
      title: channel
      type: object
      properties:
        absentValue:
          title: Absent Value
          type: string
          description: Optional field carrying the absent value as string for this channel.
        dataType:
          title: Data Type
          allOf:
            - $ref: '#/components/schemas/DataType'
          description: The log value type (per log sample). The 'format' property may contain further hints about data type presentation.
          default: number
        dimension:
          title: Dimension
          type: integer
          description: The dimension of this log or channel
        family:
          title: Log Family
          type: string
          description: The log family code of this log or channel (optional)
        familyType:
          title: Log Family Type
          type: string
          description: 'The log family type code of this log or channel. Example: ''Neutron Porosity'' for ''Thermal Neutron Porosity Sandstone''. (optional)'
        format:
          title: Format Hint
          allOf:
            - $ref: '#/components/schemas/Format'
          description: Optional format hint how to treat the log values as strings or number of bits per 'dataType'.
          default: float32
        logstoreId:
          title: Logstore ID
          type: number
          description: The id of this log or channel in the Logstore. This property is not present in the index channel.
        bulkURI:
          title: bulk URI
          type: string
          description: bulkURI either URL or URN.
        longName:
          title: Log Long Name
          type: string
          description: The long name of this log or channel
        mnemonic:
          title: Mnemonic
          type: string
          description: The mnemonic of this log or channel
        name:
          title: Log Name
          type: string
          description: The name of this log or channel.
        properties:
          title: Named Properties
          type: array
          items:
            $ref: '#/components/schemas/namedProperty'
          description: The named properties of this log or channel.
        source:
          title: Source
          type: string
          description: 'The source of this log or channel as a data reference; Typically this refers to the raw LogSet, from which this log WKE is generated.'
        unitKey:
          title: Unit
          type: string
          description: The unitKey to be looked up in the 'frameOfReference.units' dictionary to find the self-contained definition.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    core_dl_geopoint:
      title: core_dl_geopoint
      required:
        - latitude
        - longitude
      type: object
      properties:
        latitude:
          title: Latitude
          maximum: 90
          minimum: -90
          type: number
          description: 'The latitude value in degrees of arc (dega). Value range [-90, 90].'
        longitude:
          title: Longitude
          maximum: 180
          minimum: -180
          type: number
          description: 'The longitude value in degrees of arc (dega). Value range [-180, 180]'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    geographicPosition:
      title: geographicPosition
      required:
        - crsKey
        - elevationFromMsl
        - latitude
        - longitude
      type: object
      properties:
        crsKey:
          title: CRS Key
          type: string
          description: 'The ''crsKey'', which can be looked up in the ''frameOfReference.crs'' for further details.'
        elevationFromMsl:
          title: Elevation from MSL
          allOf:
            - $ref: '#/components/schemas/ValueWithUnit'
          description: 'Elevation from Mean Seal Level, downwards negative. The unit definition is found via ''elevationFromMsl.unitKey'' in ''frameOfReference.units'' dictionary.'
        latitude:
          title: Native Latitude
          type: number
          description: Native or original latitude (unit defined by CRS)
        longitude:
          title: Native Longitude
          type: number
          description: Native or original longitude (unit defined by CRS)
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    geometryItem:
      title: geometryItem
      required:
        - geometries
        - type
      type: object
      properties:
        bbox:
          title: Bbox
          type: array
          items:
            type: number
        geometries:
          title: Geometries
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/GeoJsonPoint'
              - $ref: '#/components/schemas/GeoJsonMultiPoint'
              - $ref: '#/components/schemas/GeoJsonLineString'
              - $ref: '#/components/schemas/GeoJsonMultiLineString'
              - $ref: '#/components/schemas/Polygon'
              - $ref: '#/components/schemas/GeoJsonMultiPolygon'
        type:
          $ref: '#/components/schemas/Type'
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    historyRecord:
      title: historyRecord
      type: object
      properties:
        date:
          title: Date and Time
          type: string
          description: The UTC date time of the log creation/processing
          format: date-time
        description:
          title: ' Description'
          type: string
          description: 'The description of the context, which produced the log.'
        user:
          title: User
          type: string
          description: The user running the log processing.
      additionalProperties: false
      description: The base model forbids fields which are not declared initially in the pydantic model
    log:
      title: log
      type: object
      properties:
        acl:
          title: Access Control List
          allOf:
            - $ref: '#/components/schemas/TagDictionary'
          description: The access control tags associated with this entity.
        ancestry:
          title: Ancestry
          allOf:
            - $ref: '#/components/schemas/LinkList'
          description: 'The links to data, which constitute the inputs.'
        data:
          title: Log Data
          allOf:
            - $ref: '#/components/schemas/logData'
          description: Log data associated with a wellbore
        id:
          title: Log Set ID
          type: string
          description: The unique identifier of the log
        kind:
          title: Log Kind
          type: string
          description: Kind specification
          default: 'osdu:wks:log:0.0.1'
        legal:
          title: Legal Tags
          allOf:
            - $ref: '#/components/schemas/Legal'
          description: The log's legal tags
        meta:
          title: Frame of Reference Meta Data
          type: array
          items:
            $ref: '#/components/schemas/MetaItem'
          description: 'The meta data section linking the ''unitKey'', ''crsKey'' to self-contained definitions (persistableReference)'
        status:
          title: Entity Status
          type: string
          description: The status of this log
          default: compliant
[...]
